__pycache__
*.py[co]
.Python
/build/
/dist/
/.eggs/
/wheels/
*.egg-info
.installed.cfg
*.egg
MANIFEST
pip-log.txt
pip-delete-this-directory.txt
/pip-wheel-metadata/
htmlcov
/.tox/
.coverage*
/coverage.xml
/reports/
.cache
.pytest_cache
*.log
/docs/_build/
.python-version
